// Colors
$mainColor: #221e1f;
$primaryColor: #c39857;
$backgroundColor: #fff;
$btnTextColor: #fff;
$textColor: #42313a;

// Fonts
$mainFont: "Raleway", sans-serif;

$homeTitleFontSize: 58px;
$homeDescroptionFontSize: 16px;
$homeTabletTitleFontSize: 40px;
$homeMobileTitleFontSize: 25px;


$allTitleFontSize: 58px;
$allTabletFontSize: 40px;
$allMobileFontSize: 25px;


$statsNumFontSize: 58px;
$statsDescriptionFontSize: 14px;