@import "../../styles/mixin";
@import "../../styles/vars";

.footer {
  padding-top: 80px;

  .container {
    @include flexRule(space-between, flex-start);
    gap: 80px;

    @include _991-block {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      padding: 0 30px;
    }

    @include _767-block {
      row-gap: 40px;
      column-gap: 30px;
    }

    @include _575-block {
      column-gap: 20px;
    }
  }

  // .footer__inner:first-of-type

  &__inner:first-of-type {
    width: 35%;

    @include _991(width, 100%);

    @include _575-block {
      grid-column: 1/3;
    }
  }

  &__inner:last-of-type {
    @include _991-block {
      grid-column: 1/3;
      justify-self: center;
      text-align: center;

      p {
        margin: auto;
      }
    }
  }

  // .footer__logo

  &__logo {
    margin-bottom: 30px;
    display: block;

    @include _991(margin-bottom, 15px);
  }

  // .footer__description

  &__description {
    font-size: 16px;
  }

  // .footer__social

  &__social {
    display: flex;
    gap: 15px;
    margin-top: 50px;

    @include _767(margin-top, 20px);
  }

  // .footer__social-link

  &__social-link {
    transition: 0.3s all;
    &:hover {
      filter: opacity(0.8);
    }
  }

  // .footer__link

  &__link {
    font-size: 16px;
    color: $textColor;
    margin-bottom: 10px;
    width: max-content;
    display: block;
    position: relative;
    overflow: hidden;

    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 1px;
      background-color: $textColor;
      content: "";
      transform: scale(0);
      transition: transform 0.2s ease-in-out;
    }

    &:hover:after {
      transform: scale(1);
    }

    @include _991(margin-bottom, 5px);
  }

  // .footer__link-first

  &__link-first {
    margin-bottom: 30px;
    font-weight: 500;

    @include _991(margin-bottom, 10px);
  }

  &__mail {
    color: $textColor;
    margin-bottom: 10px;
    display: block;
  }

  &__copy {
    margin: auto;
    margin-top: 80px;
    margin-bottom: 30px;
    width: 1170px;
    display: flex;
    gap: 30px;

    @include _1199-block {
      width: 960px;
    }

    @include _991-block {
      width: 750px;
      display: grid;
      gap: 10px;
    }

    @include _767-block {
      width: 550px;
    }

    @include _575-block {
      width: 95%;
      text-align: center;
    }
  }

  &__copy-link {
    display: block;
    color: $textColor;
    @include _991(margin, auto);

    &_right {
      margin-right: 0;
      margin-left: auto;

      @include _991(margin, auto);
    }

    &__text {
      font-weight: 500;
      margin-bottom: 10px;
    }
  }
}
