@import '../../styles/mixin';
@import '../../styles/vars';

.stats {
  padding: 120px 0;

  .container {
    @include flexRule(space-between, center);
    gap: 40px;

    @include _767-block {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @include _575-block {
    padding: 80px 0;
  }

  // .stats__item

  &__item {
    text-align: center;
  }

  // .stats__num

  &__num {
    font-size: $statsNumFontSize;
    color: $mainColor;
  }

  // .stats__description

  &__description {
    font-size: $statsDescriptionFontSize;
  }
}